* {
    border: 1px solid red;
}

.calendar-1 {
    width: 281px;
    height: 296px;
    background: #ebebeb;
    color: #000000;
    border-color: #232323;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px 3px 3px 3px;
    font-family: "Helvetica";
    font-weight: 400;
    font-size: 12px;
}

.text-input-1 {
    width: 281px;
    height: 40px;
    padding: 4px 8px 4px 8px;
    background: #ffffff;
    color: #c0c0c0;
    border-color: #232323;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px 3px 3px 3px;
    font-family: "Helvetica";
    font-weight: 400;
    font-size: 14px;
    text-align: left;
}

.text-input-3 {
    width: 180px;
    height: 32px;
    padding: 4px 8px 4px 8px;
    background: #ffffff;
    color: #c0c0c0;
    border-color: #232323;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px 3px 3px 3px;
    font-family: "Helvetica";
    font-weight: 400;
    font-size: 14px;
    text-align: left;
}

.text-area-1 {
    width: 404px;
    height: 100px;
    padding: 4px 8px 4px 8px;
    background: #ffffff;
    color: #c0c0c0;
    border-color: #232323;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px 3px 3px 3px;
    font-family: "Helvetica";
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    text-align: left;
}

.button-1-copy-3 {
    width: 182px;
    height: 41px;
    padding: 0px 10px 0px 10px;
    background: #d4e3fc;
    color: #0c59cf;
    border-color: #0c59cf;
    border-width: 1px;
    border-style: solid;
    border-radius: 1px 1px 1px 1px;
    font-family: "Source Sans Pro";
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;
}

.rectangle-1 {
    width: 287px;
    height: 329px;
    padding: 8px 8px 8px 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.75);
    background: #42a5f5;
}

.bootstrap-red-button-normal-1 {
   
    height: 32px;
    padding: 0px 10px 0px 10px;
    background: #d9534f;
    color: #ffffff;
    border-color: #d43f3a;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px 3px 3px 3px;
    font-family: "Helvetica";
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}

.bootstrap-green-button-pressed-1 {
   
    height: 32px;
    padding: 0px 10px 0px 10px;
    background: #2e7d32;
    color: #ffffff;
    border-color: #1b5e20;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px 3px 3px 3px;
    font-family: "Helvetica";
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}